name: Semantic Release

on:
    push:
        branches:
            - main

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: none

        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  persist-credentials: true

            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build project
              run: bun run build

            - name: Run Semantic Release
              run: bunx semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.PUBLISH_NPM_TOKEN }}
